[submodule "firehawk-main"]
	path = deploy/firehawk-main
	url = ../firehawk-main.git
[submodule "firehawk-render-cluster"]
	path = deploy/firehawk-render-cluster
	url = ../firehawk-render-cluster.git
[submodule "packer-firehawk-amis"]
	path = deploy/packer-firehawk-amis
	url = ../packer-firehawk-amis.git
