.terraform/
private-variables.tf
terraform.tfstate
terraform.tfstate.backup
modules/vpc/.terraform/
modules/vpn/.terraform/plugins/linux_amd64/lock.json
modules/vpn/.terraform/modules/
modules/vpn/.terraform/plugins/
plan
modules/node_centos/modules/
modules/tf_aws_openvpn/
modules/node_centos/file_package
modules/node_centos/current_deadline.ini
IamFleetRole.json
spot_fleet_template.json
.vagrant/
ubuntu-xenial-16.04-cloudimg-console.log
playbook.retry
downloads
ansible/*.retry
ansible-log.txt
ansible/modules/*.retry
hostvars.log
tmp/
*.DS_Store
.nfs*
*.box
