.terraform/*
private-variables.tf
*.tfstate*
modules/vpc/.terraform/*
modules/vpn/.terraform/plugins/linux_amd64/lock.json
modules/vpn/.terraform/modules/*
modules/vpn/.terraform/plugins/*
plan
modules/node_centos/file_package/*.run
modules/node_centos/file_package/*.tar
modules/node_centos/gpudriver/*.run
modules/node_centos/current_deadline.ini
IamFleetRole.json
modules/node_centos/file_package/submission/*
modules/node_centos/file_package/CertificateInstaller-10.0.23.4-linux-x64-installer.run
spot_fleet_template.json
.vagrant/*
ubuntu-xenial-16.04-cloudimg-console.log
playbook.retry
downloads/*
ansible/*.retry
ansible-log.txt
