### BEGIN ANSIBLE MANAGED BLOCK HOUDINI18.0 FIREHAWK VARIABLES ###

PDGMQ_USE_IP=1
FIREHAWK_HOUDINI_TOOLS = "{{ firehawk_houdini_tools }}"
PROD_ROOT = "{{ production_volume_path }}"
PROD_ONSITE_ROOT = "{{ localnas1_path_abs }}"
PROD_CLOUD_ROOT = "{{ softnas1_path_abs }}"

### END ANSIBLE MANAGED BLOCK HOUDINI18.0 FIREHAWK VARIABLES ###
#
# Houdini Environment Settings
#
# The contents of this file are read into the environment
# at startup.  They will override any existing entries in
# the environment.
#
# The syntax is one entry per line as follows:
#    VAR = VALUE
#
# Values may be quoted
#    VAR = "VALUE"
#
# Values may be empty
#    VAR =
#

# Example:
#
# HOUDINI_NO_SPLASH = 1

VISUAL = /bin/subl
EDITOR = /bin/subl

HOUDINI_EXTERNAL_HELP_BROWSER = 1
HOUDINI_PDG_EXPERIMENTAL = 1
HOUDINI_PDG_TYPE_ERROR = 1

HOUDINI_PATH = "$HOUDINI_PATH; $FIREHAWK_HOUDINI_TOOLS/scripts/menus; ~/Thinkbox/Deadline10/submitters/HoudiniSubmitter; $FIREHAWK_HOUDINI_TOOLS; &"
PYTHONPATH = $HFS/houdini/pdg/types/schedulers:$FIREHAWK_HOUDINI_TOOLS/scripts/modules
PYTHON = "/opt/hfs18.0/python/bin/python"
HOUDINI_MENU_PATH = "$HOUDINI_MENU_PATH; $FIREHAWK_HOUDINI_TOOLS/scripts/menus; $FIREHAWK_HOUDINI_TOOLS/toolbar; ~/Thinkbox/Deadline10/submitters/HoudiniSubmitter; /home/deadlineuser/houdini18.0/scripts/menus;&"
HOUDINI_TOOLBAR_PATH = "$FIREHAWK_HOUDINI_TOOLS/toolbar; @/toolbar;&"
HOUDINI_OTLSCAN_PATH = "@/otls:$FIREHAWK_HOUDINI_TOOLS/hda:/prod/assets/hda"

HOUDINI_TEMP_DIR = "/prod/tmp" # WARNING: May cause seg faults if incorrect permissions.  should be 1777
