[submodule "modules/tf_aws_openvpn"]
	path = modules/tf_aws_openvpn
	url = https://github.com/firehawkvfx/tf_aws_openvpn
[submodule "modules/openvpn-client"]
	path = modules/openvpn-client
	url = https://github.com/firehawkvfx/openvpn-client.git
[submodule "modules/openvpn-vagrant-client/scripts/firehawk-auth-scripts"]
	path = modules/openvpn-vagrant-client/scripts/firehawk-auth-scripts
	url = https://github.com/firehawkvfx/firehawk-auth-scripts.git
