[Unit]
Description=Starts a number of slave instances based on the numer of cores present on boot.

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/multislaveservice.sh
ExecStop=/bin/bash /usr/bin/multislaveservice.sh -s

[Install]
WantedBy=multi-user.target